ACCESS_TOKEN_TTL=15m
BREVO_API_KEY=xkeysib-VOTRE_CLE_ICI
CLOUDINARY_API_KEY=572992225737735
CLOUDINARY_API_SECRET=zvp8qqlom8s7wuj57olWHNQPTVQ
CLOUDINARY_CLOUD_NAME=idr8shne
CONTACT_NOTIFY_EMAIL=phipsipy@gmail.com
DATABASE_URL="postgresql://neondb_owner:npg_rmFT7VIxRZh9@ep-cold-poetry-b1vg89rw-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_rmFT7VIxRZh9@ep-cold-poetry-b1vg89rw.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
FRONTEND_URL=https://etdv.pages.dev
FRONTEND_URLS=http://localhost:5173,https://lagloire.pages.dev
JWT_SECRET="s999807kwDdb7jwDJ9CWksQ/LwftsLLYOwZV9BT0NXk="
MAIL_FROM='"ETDV <phipsipy@gmail.com>"'
NEON_KEEPALIVE_MINUTES=0
PRAYER_AUTO_ENABLED=true
PRAYER_AUTO_HOUR=5
REFRESH_TOKEN_TTL=30d
SMTP_HOST=smtp.gmail.com
SMTP_PASS=sspljaodcydqkgpv
SMTP_PORT=465
SMTP_USER=phipsipy@gmail.com
UPLOAD_DIR=/tmp/uploads